         .header_right {
         float: right;
         text-transform: uppercase;
         }

         .github_link {
          border: 1px solid #ddd;
          border-radius: 5px;
          margin: 1%;
          position:relative;
          overflow: hidden;
          padding: 5px;
          white-space: nowrap;
          display:inline-block;
         }

         .footer_header {
         float: center;
         text-transform: none;
         color: mediumpurple;
         font-size: 20px;
         }

         .windsor_photo{
         display: block;
         margin-left: auto;
         margin-right: auto;
         width: 50%;
         }

         .footer {
         display: flex;
         flex-wrap: wrap;
         }

         .box {
         height: 150px;
         text-align: center;
         width: 100%;
         text-transform: uppercase;
         }

         .work_photo {
         max-width: 75%;
         max-height: 75%;
         }

         @media screen and (min-width: 600px) {
         .flashcards{
         width: 50%;
         }
         .posting_app{
         width: 50%;
         }
      }
         @media screen and (min-width: 800px) {
         .flashcards,.posting_app, .conference_app{
         width: 33%;
         }
      }